<div class="page-content">
	<div class="centered">
	<div class="horizontal-margin inline-table">
		<h4>Authors</h4>
		<table id="full-authors-table" class="horizontal-margin inline-table mdl-data-table mdl-shadow--2dp">
		  <thead>
		    <tr>
		      <th class="mdl-data-table__cell--non-numeric">Name</th>
		      <th class="mdl-data-table__cell--non-numeric">Nationality</th>
		      <th class="mdl-data-table__cell--non-numeric">Birthdate</th>
		      <th>
				<label class="inline float-right mdl-button mdl-js-button mdl-button--icon" onclick="authorCtrl.createAuthor()">
		          	<i class="material-icons">add</i>
		    	</label>
	    	</th>
		    </tr>
		  </thead>
		  <tbody>
		  </tbody>
		</table>
	</div>
</div>
</div>