<div class="page-content">

<div class="centered">
	<div class="horizontal-margin inline-table">
		<h4>Books</h4>
		<table id="books-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
		  <thead>
		    <tr>
		      <th class="mdl-data-table__cell--non-numeric">Title</th>
		      <th class="mdl-data-table__cell--non-numeric">Genres</th>
		    </tr>
		  </thead>
		  <tbody>
		  </tbody>
		</table>
	</div>
	<div class="horizontal-margin inline-table">
		<h4 id="authors-table-title">Authors</h4>
		<table id="authors-table" class="horizontal-margin inline-table mdl-data-table mdl-shadow--2dp">
		  <thead>
		    <tr>
		      <th class="mdl-data-table__cell--non-numeric">Name</th>
		      <th class="mdl-data-table__cell--non-numeric">Nationality</th>
		      <th class="mdl-data-table__cell--non-numeric">Birthdate</th>
		      <th></th>
		    </tr>
		  </thead>
		  <tbody>
		  </tbody>
		</table>
	</div>
</div>
  
</div>